*{
    font-family: Microsoft Yahei;
}

.img-box{
    width: 100%;
    height: 240px;
    position: relative;
    background-size:100% 100%;
}
.tool-bar{
    width: 100%;
    height: 32px;
    position: absolute;
}
.toolbar-title{
    float: left;
    width: 300px;
    height:32px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
}

.info-item{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e3e3e3;
}
.img-info{
    background-size : 20px 20px;
    width: 20px;
    height: 20px;
    margin-top: 6px;
}
.info-img-box{
    width: 32px;
    height: 32px;
    text-align: center;
    float: left;
}
.detail-info-title{
    width:auto;
    float: left;
    color: #858585;
    height: 32px;
    line-height: 32px;
}
.detail-description{
    color: #858585;
    padding: 5px;
}