<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <title>

    </title>
    <link rel="stylesheet" href="../css/detail.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>
<body>
<div class="detail-main">
    <div class="img-box">
        <div class="tool-bar">
            <div style="float:left;"><img src="../images/back.png" style="" onclick="back()"/></div>
            <div class="toolbar-title">餐饮详情</div>
        </div>
    </div>

    <div class="info-item">
        <div  class="info-img-box"><img src="../images/address.png" class="img-info"/></div>
        <div class="detail-info-title" id="info-address"></div>
    </div>

    <div class="info-item">
        <div  class="info-img-box"><img src="../images/phone.png" class="img-info"/></div>
        <div class="detail-info-title" id="info-tel"></div>
    </div>

    <div class="detail-description">
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../js/detail.js"></script>
</html>