<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=1" />
    <title>

    </title>
    <link rel="stylesheet" href="../css/index.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>
<body>
<div class="main">
    <div class="item" storeId="1">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/kfc.jpg")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">肯德基宅急送</div>
                <div class="info-description">肯德基宅急送网上订餐菜单及价格表，包含2016年肯德基网上订餐早餐(5:45-9:14)、正餐(9:15-22:44)、夜宵(22:45-5:44)菜单及价目表，肯德基外送费9元。
                    肯德基外卖订餐电话：4008-823-823</div>
                <div class="info-address">地址：光谷步德国风情街5号楼301</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <div class="item" storeId="2">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/mc.JPEG")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">七里香冒菜</div>
                <div class="info-description">电话：18888888888</br>营业时间:9:00 - 23:00</br>冒菜、麻辣烫</div>
                <div class="info-address">地址：鲁巷工业园体综合楼16号</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <div class="item" storeId="3">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/szy.jpg")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">龙记水煮鱼（光谷店）</div>
                <div class="info-description">武汉市洪山区珞喻路光谷通讯广场公元铭美食城负一楼A09号档口</br>18672375832</div>
                <div class="info-address">地址：公元铭美食城负一楼</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <div class="item" storeId="4">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/bd.jpg")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">速美得便当</div>
                <div class="info-description">亲爱的顾客:本店菜品全系升级，给你带来 全新味觉体验。欢迎亲们多多吐槽。。</div>
                <div class="info-address">地址：鲁巷集贸市场内1楼21号</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <div class="item" storeId="5">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/dt.jpg")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">玛格利塔</div>
                <div class="info-description">营业时间:10:00-21:00</br>出售：熔岩泡芙、葡式蛋挞、肉松饼、手工蛋挞等美食</div>
                <div class="info-address">地址：鲁磨路117号</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <div class="item" storeId="6">
        <div class="item-left">
            <div class="store-icon" style='background-image: url("../images/lmj.jpg")'></div>
        </div>
        <div class="item-right">
            <div class="item-right-top">
                <div class="info-name">榴芒记（光谷店）</div>
                <div class="info-description">实际支付35元返3元商家代金券（使用规则商家提供）</div>
                <div class="info-address">地址：光谷资本大厦巨幕影城旁</div>
            </div>
            <div class="item-right-bottom">
            </div>
        </div>
    </div>

    <!--div id="more">点击加载更多</div-->
</div>
</body>
<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>